/* ===========================================
   TABLET
=========================================== */

@media(max-width:1100px){

.hero-wrapper{

grid-template-columns:1fr;

gap:60px;

}

.hero-left{

text-align:center;

}

.hero-buttons{

justify-content:center;

}

.stats-grid{

grid-template-columns:repeat(2,1fr);

}

.branch-box{

grid-template-columns:1fr;

}

.nav-links{

display:none;

}

}

/* ===========================================
   MOBILE
=========================================== */

@media(max-width:768px){

.logo img{

width:65px;

}

.logo h2{

font-size:22px;

}

.hero{

padding-top:130px;

}

.hero-left h4{

font-size:22px;

}

.hero-left h1{

font-size:48px;

}

.hero-left p{

font-size:18px;

}

.hero-buttons{

flex-direction:column;

}

.branch-btn,
.seat-btn{

width:100%;

text-align:center;

}

.success-card{

position:relative;

right:auto;

bottom:auto;

margin:20px auto 0;

width:90%;

}

.stats-grid{

grid-template-columns:1fr;

}

.branch-box{

padding:25px;

}

.branch-left h2{

font-size:30px;

}

.branch-right img{

max-width:100%;

}

.call-btn{

display:none;

}

}
